{
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "plugin:vue/recommended"
    // "eslint:recommended",
    // "prettier/vue"
    // "plugin:prettier/recommended"
  ],
  "plugins": ["vue"],
  "rules": {
    // "quotes": ["error", "single"]
  },
  "env": {
    "amd": true
  }
}
